* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

#search,
.close {
  border: none;
  background: none;
  cursor: pointer;
  padding: 4px;
}

#search > img {
  height: 30px;  
}

.close > img {
  height: 20px;
}

.close-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
 
.hidden {
  display: none;
}

form {
  background-color: #ffffff;
  border-radius: 6px;
  position:fixed;
  top:50%;
  left:50%;
  width:500px; 
  
  margin-left:-200px;
  margin-top:-200px; 
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#resultsLabel {
  display: flex;
  flex-direction: column;
}

input,
select {
  margin: 8px 0;
}

form > button {
  width: fit-content;
  padding: .25em 1em;
  margin: 1em 0;  
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 80px;
  width: 100%;
  background: #ffffff;
  padding: 0 20px;
}

nav > div {
  display: flex;
  align-items: baseline;
}

h1 {
  font-weight: 700;
}

h2 {
  font-size: 20px;
  color: rgb(54, 54, 54);
  font-weight: 500;
  margin-left: 20px;  
}

h3 {
  font-size: 20px;
  margin-bottom: 0;
}

p, input {
  color: rgb(54, 54, 54);
}

#dogs {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 80px 20px 0 20px;
}

#dogs > img {
  flex: auto;
  max-height: 250px;
  width: auto;
  margin: 2px;
  border-radius: 6px;
}

.options {
  display: flex;    
  justify-content: space-between;
  margin-top: 8px;
  padding: 10px;
  border: 0px solid #000;
}

.breeds {
  overflow-y: scroll;
  height: 120px;  
}

.breedsLabel {
  display: flex;    
  justify-content: space-between;
  align-items: baseline;
  font-weight: 300;
}

.options {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

b {
  font-size: 18px;
}
